body
    background: 
        image: url('../images/fundo-geral.png')
        position: top center
        repeat: no-repeat
        color: $preto
        attachment: fixed
        size: cover

.construcao
    margin: 75px auto
    text-align: center
    .icone
        +font-size(200px)
    h1
        +font-size(100px)